@import "styles/sass/main";

.Cell {  
  width: 44px;
  height: 100%;

  &__input {
    @include inp-reset;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 1px solid $gray-light;
    font: 600 14px/14px $roboto-regular;
    box-sizing: border-box;
  }
}